.intro {
    background-color: rgb(46, 145, 104);
    color: white;
}

.image_jumbo {
    height: 200px;
    width: 200px;
}

.about {
    background-color: rgb(46, 145, 104);
    color: white;
}

.btn_download {
    border: 1px solid white;
    background-color: rgb(46, 145, 104); 
}